
.avatar{
    width: 80px;
    border-radius: 50%;
}
.item{
    color: green;
    padding: 10px 0;
}
.like_block{
    display: flex;
    align-items: center;
}
.heart{
    width: 20px;
    cursor: pointer;
    stroke: rgb(155, 155, 155, 0.5);
    fill: rgb(155, 155, 155, 0.5);
}
.heart.liked {
    stroke: red;
    fill: red;
}
.likes_count{
    text-align: center;
    cursor: default;
}
.message{
    cursor: default;
}
