.content{
    width: 1280px;
    grid-area: content;
    background-color: gray;
}
.avatar{
    width: 80px;
    border-radius: 50%;
}
.item{
    color: greenyellow;
}
.like_block{
    display: flex;
    align-items: center;
}
.heart{
    font-size: 30px;
    cursor: pointer;
}
.likes_count{
    text-align: center;
    cursor: default;
}
.message{
    cursor: default;
}